.CartTotal {
    margin: 1em;
}

.CartButton {
    background-color: #646cff;
    width: 150px;
    margin: 30px;
    border-radius: 5px;
}

.CheckoutButton{
    background-color: #000;
    width: 150px;
    margin: 30px;
    border-radius: 5px;
}

